---
import Layout from "../../layouts/Layout.astro";
import Form from "../../components/contacts/Form.astro";
---

<Layout>
  <div class="bg-white w-full mx-auto h-full overflow-hidden overflow-y-auto">
    <h2 class="text-xl text-center font-semibold mb-4">Nuevo contacto</h2>
    <div class="flex justify-between mb-3 bg-gray-200 p-2">
      <a id="btnCancel" href="/contacts" class="text-blue-600">Cancelar</a>
      <button
        id="btnSave"
        class="disabled:text-gray-400 cursor-pointer"
        disabled>Actualizar</button
      >
    </div>
    <Form />
  </div>
</Layout>
