---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout>
  <div
    class="bg-white p-4 w-full max-w-md mx-auto h-full overflow-hidden overflow-y-auto"
  >
    <h1 class="text-2xl font-bold mb-4 text-center">Agenda de Contactos</h1>
    <ContactForm />
    <div id="contactList" class="mt-4"></div>
  </div>
</Layout>

<script type="module" src="/src/scripts/index.js"></script>
