---
import Welcome from "../components/Welcome.astro";
import LayoutIndex from "../layouts/LayoutIndex.astro";
---

<LayoutIndex>
  <div
    class="p-4 w-full max-w-md mx-auto h-full overflow-hidden overflow-y-auto"
  >
    <Welcome />
  </div>
</LayoutIndex>
