---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout>
  <Welcome />
  <ContactForm />
  <div id="contactList" class="max-w-md mx-auto mt-6"></div>
</Layout>

<script type="module" src="/src/scripts/index.js"></script>
