<div class="h-full w-full grid grid-cols-4 grid-rows-6 gap-5">
  <div class="flex justify-center">
    <a class="text-white text-center" href="/contacts">
      <img src="/src/assets/indexImages/contact.png" alt="" />
      <span class="text-xs">Contactos</span></a
    >
  </div>
</div>
