---
import "./src/styles/global.css";
import IPhoneFrame from "../components/IPhoneFrame.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Contacts Apps</title>
  </head>
  <body>
    <IPhoneFrame>
      <slot />
      <div id="toastContainer" class="fixed bottom-4 left-1/2 transform -translate-x-1/2 space-y-2 z-50"></div>
    </IPhoneFrame>
  </body>
</html>
