---
import { Icon } from "astro-icon/components";
---

<form id="formContact" class="mx-auto bg-white rounded-lg">
  <div class="h-50 flex flex-col justify-center items-center mb-3">
    <Icon
      id="defaultIcon"
      name="user"
      width="150"
      height="150"
      class="text-gray-300"
    />
    <img
      id="photoPreview"
      class="mt-2 w-36 h-36 rounded-full object-cover hidden"
      alt="Vista previa"
    />

    <label
      for="contactPhoto"
      class="bg-gray-200 rounded-full px-4 py-1 cursor-pointer mt-2"
    >
      Agregar foto
    </label>

    <input
      hidden
      id="contactPhoto"
      name="contactPhoto"
      type="file"
      accept="image/*"
      class="mt-2 text-sm text-gray-600"
    />
  </div>

  <div class="mb-3">
    <input
      type="text"
      id="contactName"
      name="contactName"
      placeholder="Nombre"
      class="w-full px-3 py-2 bg-gray-200 border border-gray-200 border-b-gray-300"
      required
    />

    <input
      type="text"
      id="contactLastName"
      name="contactLastName"
      placeholder="Apellido"
      class="w-full px-3 py-2 bg-gray-200 border border-gray-200 border-b-gray-300"
    />

    <div>
      <input
        type="tel"
        pattern="[0-9]{9}"
        id="contactPhone"
        name="contactPhone"
        placeholder="Celular"
        class="w-full px-3 py-2 bg-gray-200 border border-gray-200 border-b-gray-300"
        required
      />

      <p class="text-red-500 px-4  bg-gray-200" id="error-tel"></p>
    </div>

    <input
      type="email"
      id="contactEmail"
      name="contactEmail"
      placeholder="Correo"
      class="w-full px-3 py-2 bg-gray-200 border border-gray-200 border-b-gray-300"
    />
  </div>
</form>

<script src="../../scripts/form.js"></script>
<script>
  const params = new URLSearchParams(window.location.search);
  const contactId = params.get("id");

  if (contactId) {
    const title = document.getElementById("formTitle");
    if (title) title.textContent = "Editar Contacto";
  }
</script>
